<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Random Tiles</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="RandomTilesCtrl.js"></script>
</head>
<body ng-app="randomTiles">

  <!--
  szerokość łazienki = 171,0 cm     ==> roomWidth = 171
  szerokość brodzika = 80,0 cm      ,
  długość łazienki = 325,5 cm       |
  grubość drzwi = 16,0 cm           | ==> roomHeight = -80+325.5+16+126 = 387.5
  szerokość przedpokoju = 126,0 cm  '
  -->
  <div ng-controller="RandomTilesCtrl" ng-init="generateTilesArrangement(171, 387.5)">
    <table>
      <tr ng-repeat="tilesRow in tilesRows">
        <td class="tile" ng-repeat="tile in tilesRow.tiles">
          <img src="assets/{{tile.typeId.familyName}}-{{tile.typeId.type}}.jpg"/>
        </td>
      </tr>
    </table>
  </div>

</body>
</html>
